[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
zarr = "*"
paramiko = "*"
scp = "*"
retry = "*"
pre-commit = "*"
dropbox = "*"
msgraph-core = "*"
azure-identity = "*"

[dev-packages]

[requires]
python_version = "3.10"
